.userPost{
    margin-top: 10px;
    box-shadow: 1px 3px 3px #9c9a9a,-1px -3px 3px #fff;
    padding: 10px 10px 0 10px;
    border-radius: 10px;
}
.userPost .user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(22, 22, 158);
    margin-right: 10px;
    border: 3px solid #9c9a9a;
}
.userPost .cardHeader,.userPost .timeAndType,.userPost .cardHeader .left,.cardHeader .cardHeaderRight{
    display: flex;
    align-items: center;
}

.userPost .timeAndType .time{
    font-size: 13px;
    margin-right: 5px;
}
.nameBox h4{
    cursor: pointer;
}
.userPost .cardHeader{
    margin-bottom: 10px;
    justify-content: space-between;
}
.userPost .cardFooter{
    display: flex;
    justify-content: space-between;
    padding: 3px;
}
.userPost .cardFooter div{
    color: #726f6f;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.userPost .cardFooter div:hover{
    background-color: #e9e0e0;
    
}
.userPost .cardFooter span{
    margin-left: 5px;
}
.userPost .cardBody{
    border-bottom: 1px solid #cec8c8;
    padding-bottom: 10px;
}
.cardHeader .cardHeaderRight .cross{
    font-size: x-small;
    margin-left: 10px;
    cursor: pointer;
    color: hsl(0, 2%, 36%);
}
.cardHeader .dots{
    cursor: pointer;
    
}