*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background:none;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}
ul{
  display: flex;
}
input{
  border: none;
  outline: none;
}
.container{
  position: relative;
}